.ModalWithForm {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.ModalWithForm__form {
  height: auto;
  width: 436px;
  background-color: white;
  padding: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 16px;
  font-weight: bold;
}

.ModalWithForm__form-title {
  margin-top: 0;
}

.ModalWithForm__close-btn {
  width: 16px;
  height: 16px;
  background-color: white;
  border: none;
  position: absolute;
  right: 28px;
  top: 20px;
  background: url('../../assets/close-btn.png') no-repeat center center/cover;
  cursor: pointer;
}

.ModalWithForm__input {
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  font-weight: bold;
}

.ModalWithForm__radio {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ModalWithForm__radio-input {
  margin-right: 8px;
  cursor: pointer;
  accent-color: rgb(0, 0, 0);
}

.ModalWithForm__radio-input:checked + span {
  color: rgb(0, 0, 0);
}

.ModalWithForm__submit-button,
.ModalWithForm__submit-button-disabled {
  padding: 8px 16px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.ModalWithForm__submit-button-disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.ModalWithForm__legend {
  margin-bottom: 12px;
}

.ModalWithForm__radio-buttons {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}
