.ItemCard {
  height: 328px;
  width: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e9e9e9;
  cursor: pointer;
}
.ItemCard__title {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  border-radius: 4px;
}

.ItemCard__item-container {
  width: 230px;
  height: 230px;
}

.ItemCard__item {
  width: fit-content;
  height: 230px;
  /* max-height: fit-content; */
}
