.ItemModal {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.ItemModal__container {
  height: 610px;
  width: 498px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.ItemModal__close-btn {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  right: 28px;
  top: 20px;
  background: url('../../assets/close-btn.png') no-repeat center center/cover;
  z-index: 2;
  cursor: pointer;
}

.ItemModal__image-container {
  overflow: hidden;
  height: 498px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemModal__image {
  width: 80%;
  max-height: fit-content;
}

.ItemModal__item-name {
  margin-bottom: 0;
}

.ItemModal__item-name,
.ItemModal__weather-type {
  padding-left: 32px;
}

.ItemModal__flex-span {
  display: flex;
  justify-content: space-between;
  margin-right: 37px;
  margin-bottom: 0px;
}

.ItemModal__delete-btn {
  border: none;
  background-color: white;
  color: #ff4d00;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
