.Sidebar {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  gap: 8px;
}

.Sidebar__button {
  margin: 0;
  cursor: pointer;
}

.Sidebar__user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.Sidebar__avatar,
.Sidebar__avatar-placeholder {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.Sidebar__avatar-placeholder {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
