.ItemCard{
   height: 328px;
   width: 328px; 
   border: 1px solid rgba(0, 0, 0, 0.30);
   border-radius: 19px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color:#E9E9E9;
}
.ItemCard__title{
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.60);
    padding: 2px 12px;
    border-radius: 4px;
    
}

.ItemCard__item{
    width: 230px;

}

