.Login__signup-link {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 40px;
  left: 95px;
  cursor: pointer;
}

.Login__signup-link:hover {
  color: rgb(0, 0, 0);
}

.LoginModal__input {
  margin-bottom: 0;
}
