.Header{
 display: flex;
 justify-content: space-between;
 
}

.header__page-info, .header__user-info, .header__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__page-info{
   gap: 24px;
}

.header__user-info {
    gap: 88px;
}

.header__menu{
    gap: 20px ;
}

.header__text, .header__button{
    font-weight: bold;
    font-size: 20px;
}

.header__button{
    border: none;
    background-color: rgba(255, 228, 196, 0);
    cursor: pointer;
}

.header__avatar{
    height: 40px;
    width: 40px;
}